CREATE OR REPLACE VIEW public.monthly_summary AS
SELECT 
    TO_CHAR(t.date, 'YYYY-MM') AS month,
    fm.name AS member_name,
    t.type,
    SUM(t.amount) AS total_amount,
    t.family_id
FROM 
    public.transactions t
JOIN 
    public.family_members fm ON t.payer_id = fm.id
GROUP BY 
    1, 2, 3, 5
ORDER BY 
    month DESC, member_name;
